<header>
  <p>Página: <%- pagina %></p>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">EJS</a>
    <ul>
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/about">Sobre</a></li>
    </ul>
  </nav>
</header>
