<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head') %>
<body class="container">
  <%- include('../partials/header', {pagina: "sobre"}) %>
  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Opa</p>
    </div>
  <%- include('../partials/footer') %>

</body>
</html>